# User Service Configuration
PORT=3001
HOST=localhost

# MySQL Database
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=user
DB_PASSWORD=password123
DB_DATABASE=userdb
DB_SYNCHRONIZE=true

# Microservice Config
TRANSPORT=TCP
TCP_HOST=localhost
TCP_PORT=3301
